@{
    ViewData["Title"] = "WAI ARIA Accessibility Statement";
}

<h1><abbr title="Web Accessibility Initiative">WAI</abbr> <abbr title="Accessible Rich Internet Applications">ARIA</abbr> Accessibility Statement</h1>

<div id="content-container" class="content-container" role="main">
    <h2>Accessibility Statement for <span class="basic-information website-name">Sentry</span></h2>
    <p>
        <span class="basic-information organization-name">UA Foundation</span>
        is committed to ensuring digital accessibility for people with disabilities.
        We are continually improving the user experience for everyone, and applying the relevant accessibility standards.
    </p>
    <h3>Measures to support accessibility</h3>
    <p>
        <span class="basic-information organization-name">UA Foundation</span>
        takes the following measures to ensure accessibility of
        <span class="basic-information website-name">Sentry</span>:
    </p>
    <ul class="organizational-effort accessibility-measures">
        <li>Include accessibility throughout our internal policies.</li>
        <li>Include people with disabilities in our design personas</li>
    </ul>
    <h3>Conformance status</h3>
    <p>
        The <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG)</a> defines requirements for designers and developers to improve accessibility for people with disabilities. It defines three levels of conformance: Level A, Level AA, and Level AAA.
        <span class="basic-information website-name">Sentry</span>
        is
        <span class="basic-information conformance-status" data-printfilter="lowercase">partially conformant</span>
        with
        <span class="basic-information conformance-standard"><span data-negate="">WCAG 2.1 level AA</span>.</span>
        <span>
            <span class="basic-information conformance-status">Partially conformant</span>
            means that
            <span class="basic-information conformance-meaning">some parts of the content do not fully conform to the accessibility standard</span>.
        </span>
    </p>
    <h4>Additional accessibility considerations</h4>
    <p class="basic-information conformance-additions">Although our goal is WCAG 2.1 Level AA conformance, we have also applied some Level AAA Success Criteria: Images of text are only used for decorative purposes. Re-authentication after a session expires does not cause loss of data.</p>
    <h3>Feedback</h3>
    <p>
        We welcome your feedback on the accessibility of
        <span class="basic-information website-name">Sentry</span>.
        Please let us know if you encounter accessibility barriers on
        <span class="basic-information website-name">Sentry</span>:
    </p>
    <ul class="basic-information feedback h-card">
        <li>
            Phone:
            <a href="tel:5206212443" title="Give us a call"><span class="phone-number p-tel">(520) 621-2443</span></a>
        </li>
        <li>
            E-mail:
            <a class="email u-email" href="mailto:curt.poff@uafoundation.org" title="Send us an email">curt.poff@uafoundation.org</a>
        </li>
        <li>
            Visitor address:
            <a href="https://goo.gl/maps/LCzK3SELGEeh52pz7" title="Get Directions" target="_blank"><span class="visitor-address p-extended-address">1125 N. Vine Avenue</span></a>
        </li>
    </ul>
    <p>
        We try to respond to feedback within <span class="feedback responsetime">2-5 business days</span>.
    </p>
    <h3>Compatibility with browsers and assistive technology</h3>
    <p>
        <span class="basic-information website-name">Sentry</span>
        is designed to be compatible with the following assistive technologies:
    </p>
    <ul class="technical-information compatible-environments">
        <li>Google Chrome on Windows 10+</li>
        <li>Firefox on Windows 10+</li>
    </ul>
    <p>
        <span class="basic-information website-name">Sentry</span>
        is not compatible with:
    </p>
    <ul class="technical-information incompatible-environments">
        <li>Internet Explorer 11</li>
        <li>Browsers older than 3 major versions</li>
        <li>Mobile operating systems older than 5 years</li>
    </ul>
    <h3>Technical specifications</h3>
    <p>
        Accessibility of
        <span class="basic-information website-name">Sentry</span>
        relies on the following technologies to work with the particular combination of web browser and any assistive technologies or plugins installed on your computer:
    </p>
    <ul class="technical-information technologies-used">
        <li>HTML</li>
        <li>WAI-ARIA</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>ASP.NET</li>
    </ul>
    <p>These technologies are relied upon for conformance with the accessibility standards used.</p>
    <h3>Limitations and alternatives</h3>
    <p>
        Despite our best efforts to ensure accessibility of <span class="basic-information website-name">Sentry</span>, there may be some limitations. Below is a description of known limitations, and potential solutions. Please contact us if you observe an issue not listed below.
    </p>
    <p>
        Known limitations for
        <span class="basic-information website-name">Sentry</span>:
    </p>
    <ol class="technical-information accessibility-limitations">
        <li><strong>Page Titles</strong>: Some page titles are a grey color which can be considered low contrast against the white background. This is purely a visual design preference. We'll consider updating the contrast ratio if we receive enough feedback. Try using a screen reader to read these titles.</li>
        <li><strong>Responsive Design</strong>: Not all components are designed for a mobile experience because the majority of our users are expected to be desktop users. We'll consider addressing these issues if our data suggests users are using mobile devices. Please let us know which area in particular is causing difficulty.</li>
    </ol>
    <h3>Assessment approach</h3>
    <p>
        <span class="basic-information organization-name">UA Foundation</span>
        assessed the accessibility of
        <span class="basic-information website-name">Sentry</span>
        by the following approaches:
    </p>
    <ul class="technical-information assessment-approaches">
        <li>Self-evaluation</li>
        <li>An informal quality assurance process throughout the design and development process.</li>
    </ul>
    <h3>Formal approval of this accessibility statement</h3>
    <p>This Accessibility Statement is approved by:</p>
    <p class="approval">
        <span class="basic-information organization-name">UA Foundation</span><br>
        <span class="approved-by">Information Technology Department</span><br>
        <span class="approved-by-jobtitle">Web Platform Specialist</span>
    </p>
    @*<p>
            This statement was created on
            <span class="basic-information statement-created-date">25 July 2019</span>
            using the <a href="https://www.w3.org/WAI/planning/statements/">W3C Accessibility Statement Generator Tool</a>.
        </p>*@
</div>
