@model Sentry.WebApp.ViewModels.Administration.IntegrationHealthViewModel

<ul class="page-title">
    <li>
        <h1 style="font-family: MiloSerifWeb, TimesNewRoman, 'Times New Roman', Times; font-weight: 900; font-size: 48px;">
            @Model.Title Dashboard
        </h1>
    </li>
</ul>

<partial name="_IntegrationHealthNewWithCards.cshtml" />
