
@{
    ViewData["Title"] = Model.Title;
}

<br />

<h2>@Model.Title</h2>

<br />

<div>
    <iframe src=@ViewBag.IntegrationsMonitorUri width="1000" height="800" style="border-style: none"></iframe>
</div>
