@model Sentry.WebApp.ViewModels.BaseViewModel

<ul class="page-title">
    <li>
        <h1 style="font-family: MiloSerifWeb, TimesNewRoman, 'Times New Roman', Times; font-weight: 900; font-size: 48px;">
            Roles
        </h1>
    </li>

</ul>
<div>
    <p class="alert alert-info">Your current role is <b>@Model.CurrentRole</b></p>
</div>
<form id="switchView" method="post">
    <div class="col-md-4 form-group mt-2">
        <label class="control-label" for="CurrentRole">Select role</label>
        <select id="AlternateApprovers"
                class="form-control"
                asp-for="CurrentRole"
                asp-items="@Model.AlternateApprovers">
        </select>
    </div>
    <div class="col-md-pull-4 form-group mt-2">
        <button type="submit"
                class="btn btn-primary pull-right ml-3"
                value="SwitchRole"
                title="Switch to selected approver role"
                asp-action="RolesAdmin">
            <i role="img" class="fas fa-check">&nbsp;</i>Switch to Role
        </button>
    </div>
</form>
