
<hr class="clearfix hrRevised" />

<footer class="page-row">
    <ul class="list-inline footerSpec">
        <li>
            &copy; 2019&ndash;@DateTime.Now.Year &mdash; <a href="http://www.uafoundation.org/" title="University of Arizona Foundation" target="_blank">UA Foundation</a>
        </li>
        <li>
            <a href="https://www.dictionary.com/browse/sentry" title="A soldier stationed at a place to stand guard..." target="_blank">Sentry</a>
        </li>
        <li>
            <i role="img" class="fas fa-lock-alt fa-sm">&nbsp;</i>
            <a href="https://give.uafoundation.org/privacy-statement-and-legal-notices" title="University of Arizona Foundation Privacy Policy" target="_blank">Privacy Policy</a>
        </li>
    </ul>
    <ul class="list-inline">
        <li>
            <a asp-action="WAIARIA" asp-controller="Home" title="WAI ARIA Accessibility Statement" class="img">
                <img src="~/img/w3c-wai-logo.jpg" alt="Web Accessibility Initiative Logo" />
            </a>
        </li>
        <li>
            <a href="https://validator.w3.org/" target="_blank" class="remove-external-link-icon img">
                <img src="~/img/HTML5_logo.png" alt="W3C Valid HTML5 Logo" title="Valid HTML5 Markup." /> @*| <i role="img" class="fab fa-html5 fa-2x"></i> | <img src="~/img/html5-brands.svg" alt="W3C Valid HTML5 Logo" class="brand-icons html5" />*@
            </a>
        </li>
    </ul>
</footer>
