
<nav class="navbar navbar-static-top">
    <a href="#content-container" id="skipToMenu" class="skiptocontent sr-only">Skip To Keyboard Navigation</a>
    <div class="container-fluid">
        <div class="col-sm-3  navbar-left">
            <div class="navbar-header" data-background-color="#3498db">
                <h1 style="margin-top:0;">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand" data-toggle="tooltip" data-placement="bottom" title="Go to Sentry Dashboard">
                        <img src="~/img/uafoundation_logo.png" alt="University of Arizona Foundation Logo" />
                        <span>Data Steward Dashboard</span>
                    </a>
                </h1>
            </div>
        </div>
        <div class="col-sm-9 navbar-right">
            @*<form class="navbar-form navbar-right" role="search">
                <div class="input-group">
                    <label for="searchInput" class="control-label">Search for: </label>
                    <input id="searchInput" type="text" class="form-control" placeholder="Search for..." />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">&nbsp;<i role="img" class="fas fa-search">&nbsp;</i> Search</button>
                    </span>
                </div>
                <br />
            </form>*@
        </div><!-- /.col-lg-6 -->
    </div><!-- /.container-fluid -->
    <hr class="clearfix hrRevised" />
</nav>
