<!DOCTYPE html>
<html lang="en" class="external-links ua-brand-icons">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" />

    <link runat="server" rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/favicon.ico" type="image/ico" />
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>

</head>
<body>
    <basefont face="arial, verdana, sans-serif" size="2" color="#ff0000">
    <section id="content" class="page-row page-row-expanded">
        @RenderBody()
    </section>
</body>
</html>