<!-- Please Wait Modal -->
<div class="modal fade" id="pleaseWaitSupportingDocumentsDeleteModal" tabindex="-1" role="dialog" aria-labelledby="pleaseWaitSupportingDocumentsDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pleaseWaitSupportingDocumentsDeleteModalLabel">Supporting Documents - Please Wait</h5>
            </div>
            <div class="modal-body">
                <p><span style="color:firebrick;">Please wait while the document is being deleted.</span></p>
            </div>
        </div>
    </div>
</div>
