<select id="deptUnitSelector" class="form-control">
    <option value="">-- Choose a Dept./Unit --</option>
    <option value="ed-deptUnit-ag">Annual Giving</option>
    <option value="ed-deptUnit-apm">Arizona Public Media</option>
    <option value="ed-deptUnit-bde">Board & Donor Engagement</option>
    <option value="ed-deptUnit-bi">Business Intelligence</option>
    <option value="ed-deptUnit-cps">Campus Partners/Students</option>
    <option value="ed-deptUnit-cg">Central Gifts</option>
    <option value="ed-deptUnit-cals">College of Agriculture & Life Sciences</option>
    <option value="ed-deptUnit-capla">College of Architecture, Planning & Landscape Architecture</option>
    <option value="ed-deptUnit-ced">College of Education</option>
    <option value="ed-deptUnit-ceng">College of Engineering</option>
    <option value="ed-deptUnit-cfa">College of Fine Arts</option>
    <option value="ed-deptUnit-ch">College of Humanities</option>
    <option value="ed-deptUnit-cl">College of Law</option>
    <option value="ed-deptUnit-cos">College of Optical Sciences</option>
    <option value="ed-deptUnit-cs">College of Science</option>
    <option value="ed-deptUnit-csbs">College of Social & Behavioral Sciences</option>
    <option value="ed-deptUnit-crmcgp">Constituent Relations, Marketing/Communications & Giving Programs</option>
    <option value="ed-deptUnit-dev">Development</option>
    <option value="ed-deptUnit-ds">Development Services</option>
    <option value="ed-deptUnit-ecm">Eller College of Management</option>
    <option value="ed-deptUnit-eas">Enterprise Application Systems</option>
    <option value="ed-deptUnit-fm" selected>FFacilities MManagement</option>
    <option value="ed-deptUnit-fcgt">Fiduciary Compliance & Gift Transactions</option>
    <option value="ed-deptUnit-fs">Financial Services</option>
    <option value="ed-deptUnit-fsd">Financial Services Department</option>
    <option value="ed-deptUnit-fr">Foundation Relations</option>
    <option value="ed-deptUnit-gp">Gift Planning</option>
    <option value="ed-deptUnit-hs">Health Sciences</option>
    <option value="ed-deptUnit-hc">Honors College</option>
    <option value="ed-deptUnit-hrtm">Human Resources & Talent Management</option>
    <option value="ed-deptUnit-it">Information Technology</option>
    <option value="ed-deptUnit-ia">Intercollegiate Athletics</option>
    <option value="ed-deptUnit-itop">IT Operations</option>
    <option value="ed-deptUnit-itpm">IT Project Management</option>
    <option value="ed-deptUnit-lg">Leadership Giving</option>
    <option value="ed-deptUnit-mcd">Main Campus Development</option>
    <option value="ed-deptUnit-mpgd">Major & Principal Gifts Department</option>
    <option value="ed-deptUnit-marcom">Marketing/Communications</option>
    <option value="ed-deptUnit-pg">Principal Gifts</option>
    <option value="ed-deptUnit-pd">Prospect Development</option>
    <option value="ed-deptUnit-rqs">Records Quality & Services</option>
    <option value="ed-deptUnit-rdd">Regional Development & Discovery</option>
    <option value="ed-deptUnit-rdi">Research, Discovery & Innovation</option>
    <option value="ed-deptUnit-stewardship">Stewardship</option>
    <option value="ed-deptUnit-sis">Strategic Information Services</option>
    <option value="ed-deptUnit-saem">Student Affairs & Enrollment Management</option>
    <option value="ed-deptUnit-uaaa">UA Alumni Association</option>
    <option value="ed-deptUnit-udp">University Development Program</option>
    <option value="ed-deptUnit-ul">University Libraries</option>
</select>